body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  /* background-image: url('./assets/main-hero.jpg'); */
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    url('./assets/main-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-tab {
  width: 6rem;
  height: 3rem;
  border-radius: 15px 15px 0 0;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin: 0.2rem;
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.sweet-line {
  background-color: white;
  height: 1px;
  width: 5rem;
}

.caption {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.bottom-space {
  height: 8rem;
}

.nav-bar {
  text-align: right;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: 'Lato', sans-serif;
  height: 3.5rem;
}

.nav-bar p {
  padding-left: 1.5rem;
  margin-right: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar p:hover {
  cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  margin: 0 1rem 0 1rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar a.menu-item {
  margin: 0 0 2rem 0;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0.8rem;
}

.links {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  color: white;
  margin: 0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  position: absolute;
  bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

.arrow {
  width: 2.5rem;
  justify-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* margin: 0 auto 0 auto; */
  /* transform-origin: bottom; */
  position: absolute;
  bottom: 30px;
}

.arrow:hover {
  cursor: pointer;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.about-me {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.black-arrow {
  width: 2.5rem;
  justify-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: invert(100%);
  margin-bottom: 1.7rem;
}

.black-arrow:hover {
  cursor: pointer;
}

.about-me-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem 0;
}

.about-me-line {
  background-color: black;
  height: 1px;
  width: 3rem;
}

.portrait {
  width: 15rem;
  border-radius: 100%;
  margin: 3rem 0 2rem 0;
}

.about-me-body {
  color: black;
  font-family: 'Lato', sans-serif;
  max-width: 700px;
  text-align: center;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  line-height: 1.5rem;
}

.portfolio {
  background-color: hsla(185, 60%, 94%, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem 0;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70rem;
  margin: 3rem 0 3rem 0;
}

.thumbnail {
  width: 20rem;
  margin: 1rem;
  box-shadow: 0px 4px 4px hsla(185, 0%, 20%, 0.4);
}

.thumbnail:hover {
  color: black;
}

.third-arrow {
  width: 2.5rem;
  justify-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  filter: invert(100%);
  margin-bottom: 1.8rem;
}

.third-arrow:hover {
  cursor: pointer;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.technology-header {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem 0;
  font-weight: 500;
}

.tech-line {
  background-color: black;
  height: 1px;
  width: 3rem;
}

img.rails {
  color: black;
  width: 8rem;
}

p.rails-caption {
  position: absolute;
  bottom: 3rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.tech i {
  font-size: 3.3rem;
}

.tech p {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(185, 6%, 55%, 1);
}

.contact-line {
  background-color: white;
  height: 1px;
  width: 3rem;
}

.contact-me-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.contact i {
  font-size: 2.5rem;
  color: white;
}

.contact p {
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.contact-me-header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem 0;
  font-weight: 500;
}

/* ========== React Hamburger Slide Menu =================*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  /* left: 36px; */
  right: 14px;
  top: 14px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  .nav-bar p,
  .nav-bar a {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.6rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .caption {
    font-size: 1.8rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .portrait {
    width: 60vw;
  }

  .thumbnail {
    width: 70vw;
  }
}
